<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/semantic.min.css" />
</head>

<body>
  <div>
    {{{greeting}}}
  </div>
  <div>
    <a href="/application">go to application page</a>
  </div>
</body>

<script src="/public/semantic/dist/semantic.min.js"></script>

</html>